{% extends "main/base.html" %}

{% block head %}
{{block.super}}
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="row">
      <br>
      <div class="col-md-6">
        {{graph|safe}}
      </div>
      <div class="col-md-6">
        {{plot|safe}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Google Maps - Abastece</h2>
        <iframe src="https://www.google.com/maps/d/embed?mid=1giatoCxD0UM7ufJhGut2VS4v8fo" width="850" height="550"></iframe>
      </div>
    </div>
  </div>
{% endblock %}
